@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

/* Left section  */

/* .home{
    
} */
.home ul li{
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}
.heading{
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 25px;
}

.library{
    min-height: 93vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 13px 0px;
}
.footer a {
    color: gray;
    text-decoration: none;
}

/* sign & login button */
.button > *{
    margin: 0 12px;
}
.signupbtn{
    background: none;
    color: grey;
    font-weight: 600; /* Slightly lighter than bold */
    font-size: 15px; /* Smaller than Log in button */
    border: none;
    cursor: pointer;
    transition: all color 0.3s ease;
}

.signupbtn:hover {
    color: white; /* Change to white on hover */
    transform: scale(1.1); /* Enlarges button on hover */
}
.loginbtn{
    
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 16px;
        border: none;
        padding: 10px 25px;
        border-radius: 50px; /* Creates the pill shape */
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}
    
    .loginbtn:hover {
        background-color: #d0cece; /* Slight color change on hover */
        transform: scale(1.1); /* Enlarges button on hover */
    }
    
    .loginbtn:active {
        transform: scale(0.95); /* Press effect */
    }

/* Right section */

.right{
    margin: 14px 0px;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:rgb(34 34 34);
}
.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
}
.spotifyPlaylists h1{
    padding: 16px;
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 65vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.80s ease-in-out;
}
.card:hover{
    background-color: #252525;
}

.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
position: absolute;
bottom: -30px; /* Initially hidden */
right: 15px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
opacity: 0;
transition: bottom 0.4s ease-out, transform 0.3s ease-out;
}
 /* Show button when hovering over container */
 :hover .play{
    bottom: 101px; /* Pops up */
    opacity: 1;
    transform: scale(1.1);
}
 /* Hide again when not hovered */
:not(:hover) .play{
    bottom: 50px;
    opacity: 0;
    transform: scale(1);
}

/* playbar  */

.playbar{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: fixed;
    bottom: 16px;
    filter: invert(1);
    background: #fffdfd;
    border-radius: 30px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.songbuttons img{
    cursor: pointer;
}
.songbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.timevol{
    display: flex;
    cursor: pointer;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 8px;
    position: relative;
}
.song_info , .song_time{
    color: black;
    padding: 0 12px;
}
.song_info{
    width: 250px;
}
.song_time{
    width: 125px;
}
.info div{
    word-break: break-all;
}

.seekbar{
    height: 4px;
    width: 97%;
    background:  black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

/* Song Library  */
.hamburger{
    display: none;
}
.hamburgerCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.hamburger:active {
    transform: scale(0.85); /* Press effect */
}
.left .close{
    display: none;
}
.left .close:active {
    transform: scale(0.85); /* Press effect */
}
.songList{
    height: 456px;
    overflow: auto;
    margin-bottom: 44px 0;
}
.songList ul{
    padding: 10px 10px;
}

.songList ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 10px;
    background: #191818f7;
    margin: 7px 0;
    border-radius: 8px;
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.songList ul :active{
    transform: scale(0.95);
}

.songList .info{
    font-size: 13px;
    width: 344px;
}
.UploadSong{
position: relative;
bottom: -55px;
}

.playnow span{
    font-size: 16px;
    width: 70px;
    padding: 12px 0;
}
.playbtn{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.playbtn:hover {
    transform: scale(1.2);
    color: black;
}

/* Making website responsive */

@media (max-width: 1200px) {
    .spotifyPlaylists h1 {
        font-size: 39px;
    }
    .spotifyPlaylists{
        padding: 20px;
    }
    .button > *{
        margin: 0 7px;
    }
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }
    .left .close{
        display: block;
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
        cursor: pointer;
    }
    .footer {
        width: 0px;
    }
    .right {
        width: 100vw;
        margin: 0;
    }
    .songbar{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .playbar{
        width: calc(100vw - 75px);
    }
    .volume{
        bottom: 0px;
    }

    .seekbar{
        width: calc(100vw - 120px);
        bottom: 4px;
    }
    .song_info, .song_time {
        font-size: 18px;
    }
    .song_info{
        width: 93px;
    }
    .song_time{
        width: 96px;
    }
    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
    .songbuttons img {
        width: 29px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .card{
        width: 55vw;
    }
    
    .cardContainer{
        justify-content: center;
        margin: 0px -4px;
    }
    .cardContainer{
        max-height: 70vh;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }
    .playbar{
        right: 25px;
    
    }
}

@media (max-width: 500px){
    .card {
        width: 100%;
    }

    .header>* {
        padding: 0px;
    }

    .button>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

}